NEXT_PUBLIC_SUPABASE_URL=https://hdbuozysdixrxypbkfup.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkYnVvenlzZGl4cnh5cGJrZnVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjEyNzUsImV4cCI6MjA5MDA5NzI3NX0.XdIfmOqv0gJKX_d9Vo8HJg53ShYQOaA5MEdbmv8zTYc
